.button {	
	display: flex;
	justify-content: space-between;
	font-size: 48px;
}

#carousel {	
	margin: 0 auto;	
	width: 2000px;	
	overflow: hidden;  
}

ul li {
	display: inline-block;
	float: left;
	list-style-type: none;
}

#carousel ul {
    list-style-type: none;
    margin: 0 auto;
	padding: 0px;	
}